<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-outsystems-AlviereCaptureCheck" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Alviere Capture Check</name>

    <js-module name="AlviereCaptureCheck" src="www/AlviereCaptureCheck.js">
        <clobbers target="AlviereCaptureCheck" />
    </js-module>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AlviereCaptureCheck">
                <param name="ios-package" value="AlviereCaptureCheck" />
            </feature>
        </config-file>

        <podspec>
            <pods use-frameworks="true">
                <pod name="AlCore" podspec="https://raw.githubusercontent.com/os-adv-dev/cordova-outsystems-AlviereCaptureCheck/alviere_podspecs_fixed/src/ios/podspec/AlCore.podspec" />
                <pod name="AlCamera" podspec="https://raw.githubusercontent.com/os-adv-dev/cordova-outsystems-AlviereCaptureCheck/alviere_podspecs_fixed/src/ios/podspec/AlCamera.podspec" />
                <pod name="Payments" podspec="https://raw.githubusercontent.com/os-adv-dev/cordova-outsystems-AlviereCaptureCheck/alviere_podspecs_fixed/src/ios/podspec/Payments.podspec" />
                <pod name="AccountsSDK" podspec="https://raw.githubusercontent.com/os-adv-dev/cordova-outsystems-AlviereCaptureCheck/alviere_podspecs_fixed/src/ios/podspec/AccountsSDK.podspec" />
            </pods>
        </podspec>
<!--        
        <framework src="src/ios/frameworks/AlCore.xcframework/ios-arm64/AlCore.framework" embed="true" custom="true"/>
        <framework src="src/ios/frameworks/PaymentsSDK.xcframework/ios-arm64/PaymentsSDK.framework" embed="true" custom="true"/>
        <framework src="src/ios/frameworks/AccountsSDK.xcframework/ios-arm64/AccountsSDK.framework" embed="true" custom="true"/>
-->
        <source-file src="src/ios/AlviereCaptureCheck.swift" />
        <source-file src="src/ios/AppDelegateReplace.txt" />
        
        <preference name="CAMERA_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>

        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <dict>
                <key>Item 0</key>
                <string>cydia</string>
            </dict>
		</config-file>

        <hook type="after_prepare" src="hooks/ios/changeInLineMediaPlayback.js" />
        <hook type="before_plugin_install" src="hooks/ios/add_swift_support.js" />
        <hook type="after_plugin_install" src="hooks/ios/changeAppDelegate.js" />
        <hook type="after_prepare" src="hooks/ios/localizationAdder.js" />

    </platform>

    <platform name="android">

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AlviereCaptureCheck">
                <param name="android-package" value="com.outsystems.alvierecapturecheck.AlviereCaptureCheck" />
            </feature>
        </config-file>

        <hook type="after_plugin_install" src="hooks/android/ReplaceAppid.js" />
        <hook type="after_plugin_install" src="hooks/android/MainAppAdder.js" />
        <hook type="after_prepare" src="hooks/android/localizationAdder.js" />

        <config-file parent="/*" target="AndroidManifest.xml"></config-file>

        <source-file src="src/android/AlviereCaptureCheck.java" target-dir="src/com/outsystems/alvierecapturecheck" />

        <framework src="src/android/dependencies.gradle" custom="true" type="gradleReference" />
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT" />
            <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />
        </config-file>

    </platform>

</plugin>
